# Local: http://localhost:5000/api
# Production: https://your-backend-project.vercel.app/api
VITE_API_URL=http://localhost:5000/api

VITE_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
VITE_ONESIGNAL_APP_ID=your_onesignal_app_id
